In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
wildfire_csv = "NOAA_csvs/wildfires_2010_2019.csv"
drought1014_csv = "NOAA_csvs/drought_2010_2014.csv"
drought1519_csv = "NOAA_csvs/drought_2015_2019.csv"

In [6]:
wildfire_df = pd.read_csv(wildfire_csv)
drought1014_df = pd.read_csv(drought1014_csv)
drought1519_df = pd.read_csv(drought1519_csv)

In [8]:
wildfire_df.head(10)

,EVENT_ID,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,BEGIN_TIME,EVENT_TYPE,MAGNITUDE,TOR_F_SCALE,DEATHS_DIRECT,INJURIES_DIRECT,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE,ABSOLUTE_ROWNUMBER
0,234746,SAN BERNARDINO AND RIVERSIDE COUNTY VALLEYS - ...,,05/20/2010,1213,Wildfire,,,0,0,...,,,,,,,,NaN,The McKinley Fire began at approximately 1213 ...,1
1,250167,SAN DIEGO COUNTY COASTAL AREAS (ZONE),,07/13/2010,830,Wildfire,,,0,0,...,,,,,,,,NaN,The Camp Pendleton Fire began at approximately...,2
2,250175,SAN BERNARDINO AND RIVERSIDE COUNTY VALLEYS - ...,,07/15/2010,1000,Wildfire,,,0,1,...,,,,,,,,NaN,The Stetson Fire began at approximately 1000 P...,3
3,250169,RIVERSIDE COUNTY MOUNTAINS (ZONE),,07/15/2010,1400,Wildfire,,,0,0,...,,,,,,,,NaN,The Cactus Fire began at approximately 1400 PS...,4
4,250171,SAN BERNARDINO AND RIVERSIDE COUNTY VALLEYS - ...,,07/15/2010,1442,Wildfire,,,0,0,...,,,,,,,,NaN,The Skinner Fire began at approximately 1442 P...,5
5,250178,SAN BERNARDINO AND RIVERSIDE COUNTY VALLEYS - ...,,07/15/2010,1447,Wildfire,,,0,0,...,,,,,,,,NaN,The Saddle Fire began at approximately 1447 PS...,6
6,250163,SAN BERNARDINO AND RIVERSIDE COUNTY VALLEYS - ...,,07/17/2010,1038,Wildfire,,,0,1,...,,,,,,,,NaN,The Maywood Fire began at approximately 1038 P...,7
7,254582,TULARE CTY MTNS (ZONE),,07/26/2010,1246,Wildfire,,,0,0,...,,,,,,,,NaN,The Bull wildfire occurred in Sequoia National...,8
8,254581,KERN CTY MTNS (ZONE),,07/26/2010,1246,Wildfire,,,0,0,...,,,,,,,,NaN,The Bull wildfire occurred in Sequoia National...,9
9,254583,KERN CTY MTNS (ZONE),,07/27/2010,1316,Wildfire,,,0,0,...,,,,,,,,NaN,The Bull wildfire occurred in Sequoia National...,10

In [9]:
wildfire_df.columns

Index(['EVENT_ID', 'CZ_NAME_STR', 'BEGIN_LOCATION', 'BEGIN_DATE', 'BEGIN_TIME',
       'EVENT_TYPE', 'MAGNITUDE', 'TOR_F_SCALE', 'DEATHS_DIRECT',
       'INJURIES_DIRECT', 'DAMAGE_PROPERTY_NUM', 'DAMAGE_CROPS_NUM',
       'STATE_ABBR', 'CZ_TIMEZONE', 'MAGNITUDE_TYPE', 'EPISODE_ID', 'CZ_TYPE',
       'CZ_FIPS', 'WFO', 'INJURIES_INDIRECT', 'DEATHS_INDIRECT', 'SOURCE',
       'FLOOD_CAUSE', 'TOR_LENGTH', 'TOR_WIDTH', 'BEGIN_RANGE',
       'BEGIN_AZIMUTH', 'END_RANGE', 'END_AZIMUTH', 'END_LOCATION',
       'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON', 'EVENT_NARRATIVE',
       'EPISODE_NARRATIVE', 'ABSOLUTE_ROWNUMBER'],
      dtype='object')

In [10]:
reduced_wildfire_df = wildfire_df[['EVENT_ID', 'CZ_NAME_STR', 'BEGIN_DATE', 'EVENT_TYPE',
                                  'DEATHS_DIRECT', 'INJURIES_DIRECT', 'DAMAGE_PROPERTY_NUM', 
                                  'DAMAGE_CROPS_NUM', 'CZ_FIPS', 'EVENT_NARRATIVE']]
reduced_wildfire_df

,EVENT_ID,CZ_NAME_STR,BEGIN_DATE,EVENT_TYPE,DEATHS_DIRECT,INJURIES_DIRECT,DAMAGE_PROPERTY_NUM,DAMAGE_CROPS_NUM,CZ_FIPS,EVENT_NARRATIVE
0,234746,SAN BERNARDINO AND RIVERSIDE COUNTY VALLEYS - ...,05/20/2010,Wildfire,0,0,0,0,48,NaN
1,250167,SAN DIEGO COUNTY COASTAL AREAS (ZONE),07/13/2010,Wildfire,0,0,0,0,43,NaN
2,250175,SAN BERNARDINO AND RIVERSIDE COUNTY VALLEYS - ...,07/15/2010,Wildfire,0,1,17500,0,48,NaN
3,250169,RIVERSIDE COUNTY MOUNTAINS (ZONE),07/15/2010,Wildfire,0,0,0,0,56,NaN
4,250171,SAN BERNARDINO AND RIVERSIDE COUNTY VALLEYS - ...,07/15/2010,Wildfire,0,0,0,0,48,NaN
...,...,...,...,...,...,...,...,...,...,...
393,863910,VENTURA COUNTY COASTAL VALLEYS (ZONE),11/01/2019,Wildfire,0,0,0,0,45,The Easy Fire burned 1806 acres across the coa...
394,863913,VENTURA COUNTY INTERIOR VALLEYS (ZONE),11/01/2019,Wildfire,0,0,0,0,44,The Maria Fire started in late October across ...
395,863914,VENTURA COUNTY COASTAL VALLEYS (ZONE),11/01/2019,Wildfire,0,0,0,0,45,The Maria Fire started in late October across ...
396,863915,VENTURA COUNTY COAST (ZONE),11/01/2019,Wildfire,0,0,0,0,40,The Maria Fire started in late October across ...
397,856590,NORTH BAY MOUNTAINS (ZONE),11/01/2019,Wildfire,0,4,0,0,507,The Kincade Fire broke out on the night of Oct...

In [11]:
drought1014_df.head()

,EVENT_ID,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,BEGIN_TIME,EVENT_TYPE,MAGNITUDE,TOR_F_SCALE,DEATHS_DIRECT,INJURIES_DIRECT,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE,ABSOLUTE_ROWNUMBER
0,497009,SOUTHERN SACRAMENTO VALLEY (ZONE),,01/01/2014,0,Drought,,,0,0,...,,,,,,,,A plethora of records were set across interior...,January was an abnormally dry and warm month f...,1
1,498466,SE KERN CTY DESERT (ZONE),,01/01/2014,0,Drought,,,0,0,...,,,,,,,,NaN,The California drought continued in full force...,2
2,498465,INDIAN WELLS VLY (ZONE),,01/01/2014,0,Drought,,,0,0,...,,,,,,,,NaN,The California drought continued in full force...,3
3,498464,TULARE CTY MTNS (ZONE),,01/01/2014,0,Drought,,,0,0,...,,,,,,,,NaN,The California drought continued in full force...,4
4,498463,S SIERRA MTNS (ZONE),,01/01/2014,0,Drought,,,0,0,...,,,,,,,,NaN,The California drought continued in full force...,5

In [12]:
drought1014_df.columns

Index(['EVENT_ID', 'CZ_NAME_STR', 'BEGIN_LOCATION', 'BEGIN_DATE', 'BEGIN_TIME',
       'EVENT_TYPE', 'MAGNITUDE', 'TOR_F_SCALE', 'DEATHS_DIRECT',
       'INJURIES_DIRECT', 'DAMAGE_PROPERTY_NUM', 'DAMAGE_CROPS_NUM',
       'STATE_ABBR', 'CZ_TIMEZONE', 'MAGNITUDE_TYPE', 'EPISODE_ID', 'CZ_TYPE',
       'CZ_FIPS', 'WFO', 'INJURIES_INDIRECT', 'DEATHS_INDIRECT', 'SOURCE',
       'FLOOD_CAUSE', 'TOR_LENGTH', 'TOR_WIDTH', 'BEGIN_RANGE',
       'BEGIN_AZIMUTH', 'END_RANGE', 'END_AZIMUTH', 'END_LOCATION',
       'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON', 'EVENT_NARRATIVE',
       'EPISODE_NARRATIVE', 'ABSOLUTE_ROWNUMBER'],
      dtype='object')

In [13]:
reduced_drought1014_df = drought1014_df[['EVENT_ID', 'CZ_NAME_STR', 'BEGIN_DATE', 'EVENT_TYPE',
                                  'DEATHS_DIRECT', 'INJURIES_DIRECT', 'DAMAGE_PROPERTY_NUM', 
                                  'DAMAGE_CROPS_NUM', 'CZ_FIPS', 'EVENT_NARRATIVE']]
reduced_drought1014_df

,EVENT_ID,CZ_NAME_STR,BEGIN_DATE,EVENT_TYPE,DEATHS_DIRECT,INJURIES_DIRECT,DAMAGE_PROPERTY_NUM,DAMAGE_CROPS_NUM,CZ_FIPS,EVENT_NARRATIVE
0,497009,SOUTHERN SACRAMENTO VALLEY (ZONE),01/01/2014,Drought,0,0,0,0,17,A plethora of records were set across interior...
1,498466,SE KERN CTY DESERT (ZONE),01/01/2014,Drought,0,0,0,0,99,NaN
2,498465,INDIAN WELLS VLY (ZONE),01/01/2014,Drought,0,0,0,0,98,NaN
3,498464,TULARE CTY MTNS (ZONE),01/01/2014,Drought,0,0,0,0,97,NaN
4,498463,S SIERRA MTNS (ZONE),01/01/2014,Drought,0,0,0,0,96,NaN
...,...,...,...,...,...,...,...,...,...,...
129,551237,SE S.J. VALLEY (ZONE),12/01/2014,Drought,0,0,0,0,92,NaN
130,551240,KERN CTY MTNS (ZONE),12/01/2014,Drought,0,0,0,0,95,NaN
131,551238,S SIERRA FOOTHILLS (ZONE),12/01/2014,Drought,0,0,0,0,93,NaN
132,551241,S SIERRA MTNS (ZONE),12/01/2014,Drought,0,0,0,0,96,NaN
133,551239,TULARE CTY FOOTHILLS (ZONE),12/01/2014,Drought,0,0,0,0,94,NaN